<div class="container">
  <h2>Welcome to the Photo Management App!</h2>
  <p class="lead">
    You'll love managing your Photos with our application. Sign up!
  </p>
  <%= turbo_stream_from @avaible_plans_id %>
  <div class="row">
    <div id=<%= @avaible_plans_id %> class="plans clearfix">
      <%= render @plans %>
    </div>
  </div>
</div>